{% extends "accounts/dashboard/base.html" %}
{% load i18n %}


{% block content %}
    {% if success %}
        <div class="alert alert-success">
            {% trans "Your modifications went through successfully!" %}
        </div>
    {% elif form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
                {% for error in field.errors %}
                    {{ error|escape }}<br/>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                {{ error|escape }}<br/>
            {% endfor %}
        </div>
    {% endif %}

    {% include "accounts/edit_info_widget.html" with user=False %}
{% endblock content %}