{% extends "base.html" %}
{% load static %}
{% block body %}
    <iframe style="display:none" width="560" height="315" src="https://www.youtube-nocookie.com/embed/adadmXP5doc?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <img style="height: 300px" src="{% static "utils/images/bad_boy.png" %}" />
    <br>
    <br>
    You're a true hax0r, aren't you?<br>
    This action has been logged.<br>
    <br>
    <i>BOFH</i>
    <script type="text/javascript">

    </script>
{% endblock body %}